.result {
  position: relative;
  height: 83vh;
  margin-right: 2rem;
  padding: 1rem;
  border: 1px solid blue;
  border-radius: 5px;
  background-color: #222222;
  color: white;

  flex: 1;
  overflow: auto;

  &__btn {
    font-size: 1.4rem;
    margin: -3.3rem 0rem;

    position: fixed;
    right: 36rem;

    background-color: white;
    color: #222222;
    border: 1px solid blue;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: grey;
      color: white;
    }
  }

  &__p {
    font-size: 1.4rem;
    font-weight: bold;

    display: flex;
    margin: -3rem -1rem;
    position: fixed;
    color: #222222;
  }

  &__table {
    font-size: 1.2rem;
    border: 1px solid red;
    padding: 5px;
  }
}
